<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- Esto es para que spring busque las anotaciones @Component y sus hijas -->
	<context:component-scan
		base-package="controladores"/>

	<!-- Paquete de entidades -->
	<context:component-scan
		base-package="entidades"/>

	<!-- Esto es para que, ADEMAS, busque anotaciones de spring mvc -->
	<mvc:annotation-driven />

	<!-- Cuando vamos del controlador a la vista, es por donde pasamos. Siempre add el prefijo y el sufijo al string que
	devolvemos -->
	<bean id="viewResolverJSP"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/vistas/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

</beans>
